[*.sh]
# like -i=4
indent_style = space
indent_size = 4

# --language-variant
shell_variant      = bash
binary_next_line   = true
# --case-indent
switch_case_indent = true
space_redirects    = true
keep_padding       = false
# --func-next-line
function_next_line = false