# direnv/devenv
.devenv
.direnv
.envrc.local

# Earthly
bin/

# Node
node_modules

# Developer only files
/.vscode

# Built docs
/earthly/docs/site
/earthly/docs/local

# Local Build Artefacts
target/
Cargo.lock

# Python junk
**/*.pyc