# direnv/devenv
.devenv
.direnv
.envrc.local

# Earthly
bin/
.tmp-earthly-out/

# Node
node_modules

# Developer only files
.vscode

# Built docs
/earthly/docs/site
/earthly/docs/local

# Local Build Artefacts
target/
Cargo.lock
coverage/

# Python junk
**/*.pyc
