[Unit]
Description=Earthly Cache Watcher

[Service]
Type=simple
ExecStart=/usr/bin/python3 /path/to/watchdog/main.py <config-path?>
Restart=always
User=your_username

[Install]
WantedBy=multi-user.target