name: Build builder image

on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * MON" #UTC time


jobs:
  build-builder:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: "eu-central-1"
          role-to-assume: "arn:aws:iam::332405224602:role/ci"

      - name: Get secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            HARBOR_ADMIN_PASSWORD,shared-services/harbor/admin-password
      
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          username: admin
          password: ${{ env.HARBOR_ADMIN_PASSWORD }}
