name: Update Catalyst Deps

on:
  workflow_call:
    inputs:
      notify_type:
        description: "Notification type: Issue or PR"
        type: string
        default: "pr"
      repos:
        description: "Comma separated list of repositories"
        type: string
        default: ""
      test:
        description: ""
        type: string
        default: ""

permissions:
  contents: write
  pull-requests: write
  issues: write

env:
  GITHUB_TOKEN: ${{ secrets.CI_BOT_TOKEN }}

jobs:
  notify-dependents:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
      tag_name: ${{ steps.release_info.outputs.tag_name }}
      release_url: ${{ steps.release_info.outputs.release_url }}
    steps:
      - name: Get release info
        id: release_info
        run: |
          if [ "${{ inputs.test }}" != "" ]; then
            echo "tag_name=$(gh release list -R ${{ github.repository }} --json name,isLatest --jq '.[] | select(.isLatest)|.name')" >> $GITHUB_OUTPUT
            echo "release_url=$(gh release view -R ${{ github.repository }} $tag_name --json url | jq -r .[])" >> $GITHUB_OUTPUT
          else
            echo "tag_name=${{ inputs.test }}" >> $GITHUB_OUTPUT
            echo "release_url=${{ inputs.test }}" >> $GITHUB_OUTPUT
          fi

      - name: Generate repos matrix
        id: matrix
        run: |
          repos="${{ inputs.repos }}"
          echo "matrix=$(echo -n "$repos" | sed 's/ //g' | jq -R -s -c 'split(",")')" >> $GITHUB_OUTPUT

  create-pr-or-issue:
    runs-on: ubuntu-latest
    needs: notify-dependents
    strategy:
      matrix: 
        repo: ${{ fromJSON(needs.notify-dependents.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repo }}
          token: ${{ secrets.CI_BOT_TOKEN }}

      - name: Import GPG key
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_BOT_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true

      - name: Create PR or Issue for dependent repository
        env:
          RELEASE_TAG: ${{ needs.notify-dependents.outputs.tag_name }}
          RELEASE_URL: ${{ needs.notify-dependents.outputs.release_url }}
          GIT_AUTHOR_NAME: ${{ steps.import-gpg.outputs.name }}
          GIT_AUTHOR_EMAIL: ${{ steps.import-gpg.outputs.email }}
          GIT_COMMITTER_NAME: ${{ steps.import-gpg.outputs.name }}
          GIT_COMMITTER_EMAIL: ${{ steps.import-gpg.outputs.email }}
        run: |
          set -e

          UPDATED_REPO="github.com/${{ github.repository }}"
          REPO_NAME=$(echo ${{ github.repository }} | cut -d/ -f2)

          # git config --global user.name catalyst-cibot
          # git config --global user.email "catalyst-cibot@projectcatalyst.io"

          if [ "${{ inputs.notify_type }}" == "pr" ]; then
            echo "Create PR in ${{ matrix.repo }}"
            branch_name="chore/update-$REPO_NAME-to-$RELEASE_TAG"
            default_branch=$(gh api repos/${{ matrix.repo }} --jq '.default_branch')
            git switch "$branch_name" || git switch --create "$branch_name"

            find . -type f -name "Earthfile" -exec sed -i -E \
              "s|(IMPORT[[:space:]]+$UPDATED_REPO/(earthly/)?[^:]+:)v[0-9]+\.[0-9]+\.[0-9]+|\1$RELEASE_TAG|" {} +

            git add .

            if [[ $(git diff --staged) == "" ]]; then
                echo "No changes, everything up to date"
                exit 0
            fi

            git commit -S -m "chore($REPO_NAME): Update $REPO_NAME to $RELEASE_TAG"
            git push origin "$branch_name"

            gh pr create \
              --repo "${{ matrix.repo }}" \
              --title "chore($REPO_NAME): Update $REPO_NAME to $RELEASE_TAG" \
              --body "Update $REPO_NAME to $RELEASE_TAG. Release: $RELEASE_URL" \
              --head "$branch_name" \
              --base "$default_branch"

            echo "PR created for ${{ matrix.repo }}"
          else
            echo "Create issue in ${{ matrix.repo }}"
            gh issue create \
              --repo "${{ matrix.repo }}" \
              --title "Update $REPO_NAME to $RELEASE_TAG" \
              --body "Update $REPO_NAME to $RELEASE_TAG. Release: $RELEASE_URL"
            echo "Issue created in ${{ matrix.repo }}"
          fi
