name: Update Catalyst CI Deps

on:
  release:
    types: [published, edited]
  workflow_dispatch:
    inputs:
      notify_type:
        description: ""
        type: choice
        options:
          - "pr"
          - "issue"
        default: "pr"
      repos:
        description: ""
        type: string

permissions:
  pull-requests: write
  issues: write

jobs:
  update_ci_deps:
    uses: ./.github/workflows/update-catalyst-deps.yml
    with:
        notify_type: ${{ inputs.notify_type }}
        repos: ${{ inputs.repos != '' && inputs.repos ||'input-output-hk/catalyst-voices, input-output-hk/hermes, input-output-hk/catalyst-libs, input-output-hk/catalyst-reviews, input-output-hk/catalyst-som, input-output-hk/catalyst-execution, input-output-hk/norns' }}
    secrets: inherit
